@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

.banner-image{
    background-image: url("/img/playa.jpg");
    background-image: cover;
}
.banner-image2{
    background-image: url("/img/playa2.jpg");
    background-image: cover;
}
.banner-image-login{
    background-image: url("/img/playa-login.jpg");
    background-image: cover;
}
.banner-image-Registro{
    background-image: url("/img/playa-registro.jpg");
    background-image: cover;
}
.login{
    background: black;
    opacity: 0.7;
    padding: 50px;
    border-radius: 25px;
}
.registro{
    background: black;
    opacity: 0.6;
    padding: 50px;
    border-radius: 25px;
}